/* game board table */

#board td {
  position: relative;
  left: 10vw;
  top: 5vw;
  width: 10vw;
  height: 10vw;
  border: solid 1px #666;
  /* margin: 20vw; */
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 40%;
  transition: transform 1s;
}

.piece:focus {
  top: 0%
}

.p1 {
  /* TODO: make into circles */
  background: blue;
}

.p2 {
  /* TODO: make into circles */
  background: red;
}


/* TODO: make pieces red/blue,  depending on player 1/2 piece */

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

#column-top td: {
  background-color: gold;
}

.piece {
  animation: top-to-bottom 800ms ease-in forwards;
}

@keyframes top-to-bottom {
  0% {
    transform: translateY(-500%);
  }
  100% {
    transform: translateY(0%);
  }
}

h1 {
  top: 2vh;
  text-align: center;
}